/* TABLETS & SMALL LAPTOPS */
@media (max-width: 1300px) {
  #home-page .home-page-container {
    width: 100%;
    padding: 0;
  }
  #home-page .home-bg-container.large {
    margin-bottom: 0;
  }
  #home-page .home-page-content-container {
    padding: 0 2rem;
  }
  #home-page .home-page-content {
    width: 100%;
  }
}
/* SMALL TABLETS */
@media (max-width: 550px) {
  #home-page .home-bg-container {
    height: 100%;
    margin-bottom: 4rem;
    padding: 4rem 2rem 8rem;
  }
  #home-page .home-bg-container.large {
    padding: 4rem 2rem;
  }
  #home-page .home-content-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #home-page .home-content-options h2 {
    margin: 0 1rem;
  }
  #home-page .home-content-categories {
    margin: 2rem 1rem 0;
  }
  #home-page .home-features-item {
    font-size: 1.8rem;
  }
}
/* SMALL PHONES */
@media (max-width: 280px) {
  #home-page .home-features-item {
    font-size: 1.6rem;
  }
}
