#card-details-page {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#card-details-page .card-details-page-container {
  width: 1340px;
  margin: auto;
}
#card-details-page .card-details-cast-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem 2rem;
  margin-bottom: 4rem;
}
#card-details-page .card-details-cast {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
}
#card-details-page .card-details-cast::-webkit-scrollbar {
  height: 0.8rem;
}
#card-details-page .card-details-cast::-webkit-scrollbar-track {
  background: var(--light-blue);
  border-radius: 1rem;
}
#card-details-page .card-details-cast::-webkit-scrollbar-thumb {
  background-color: var(--main-green);
  border-radius: 1rem;
  outline: none;
}
#card-details-page #item-card {
  height: 440px;
  min-width: 180px;
  width: 180px;
}
#card-details-page #item-card .item-card-poster {
  min-height: 280px;
  height: 280px;
  width: 180px;
}
#card-details-page #item-card .item-card-info {
  width: 180px;
}
