#review-form-container {
  padding: 2rem;
  width: 100%;
  margin-bottom: 4rem;
}
#review-form-container .review-form-toggle {
  display: inline-block;
  margin-bottom: 2rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
#review-form-container .review-form-toggle:hover {
  color: var(--main-green);
}
#review-form-container .review-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 62%;
  padding: 0 2rem;
  margin-bottom: 4rem;
}
#review-form-container label {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
#review-form-container textarea {
  width: 100%;
  font-size: 1.6rem;
  height: 160px;
  padding: 1rem 2rem;
  border: 1px solid var(--dark-blue);
  border-radius: 2rem;
  transition: all 0.2s ease;
  margin-bottom: 2rem;
  resize: none;
}
#review-form-container textarea:focus {
  border-color: var(--main-green);
}
#review-form-container input {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid var(--dark-blue);
  border-radius: 2rem;
  transition: all 0.2s ease;
  margin-bottom: 2rem;
}
#review-form-container .button-container {
  margin-top: 2rem;
}
#review-form-container .btn {
  margin-right: 2rem;
}
#review-form-container .review-form-user-reviews {
  display: grid;
  gap: 2rem;
  padding: 0 2rem;
}
#review-form-container .review-form-reviews-heading {
  margin-bottom: 4rem;
}
