#search-form {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  border: 2px solid var(--main-green);
  border-radius: 2.2rem;
}
#search-form .search-form-search-bar {
  font-size: 1.6rem;
  color: #000;
  width: 100%;
  padding: 1rem 2rem;
  border: 2px solid #fff;
  border-radius: 2rem 0 0 2rem;
}
#search-form .button-container {
  background: #fff;
  border-radius: 0 2rem 2rem 0;
}
#search-form .btn {
  border-radius: 1.8rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  height: 100%;
}
